vue/node_modules
vue/dist
release/
.testnets/
data/
*.db
keyring-file/
keyring-test/
**/keyring-file/
**/keyring-test/
**/key_seed.json
**/config/genesis.json
**/config/priv_validator_key.json
**/config/node_key.json
.idea/
.vscode/
.DS_Store
*.dot
*.log
*.ign
